APP_ENV=development
API_TITLE=The Hot Seat API
CORS_ORIGINS=http://localhost:3000
DATABASE_URL=postgresql+psycopg://username:password@host/dbname?sslmode=require
FEATHERLESS_API_KEY= Featherless API key goes here
FEATHERLESS_BASE_URL=https://api.featherless.ai/v1
FEATHERLESS_MODEL=deepseek-ai/DeepSeek-V3-0324
